services:
  counter-service:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    restart: unless-stopped